.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}
.sub_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: peru;
	border-radius: 20px;
	width: 150px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-left: 80px;
}
.page_title{
	text-align: center;
}

.form_box{
	margin-left: 640px;
}
.field1,.field2,.field3{
	margin-bottom: 20px;
}
.field1_label{
	margin-bottom: 200px;
}

.input{
	width: 300px;
	height: 30px;
}

.input2{
	width: 300px;
	height: 150px;
}

.input3{
	width: 300px;
	height: 50px;
}

.message{
	margin-left: 80px;
}

.main_container{
	background-color: beige;
	margin:0;
	height: 100vh;
}

.back_btn {
	border: none;
	outline: none;
	padding: 9px 0;
	background-color: yellowgreen;
	border-radius: 20px;
	width: 180px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 1000px;
}

.select{
	width: 310px;
	margin-bottom: 20px;
}