.posts_title{
    text-align: center;
    margin-left: 20px;
    font-size: 50px;
    text-emphasis-color: bisque;
    font-family: fantasy;
}
.bigbox{
    margin-left: 200px;
    width: 500px;
    height: auto;
}
.button_post{
    margin-bottom: 30px;
    width: 200px;
    height: 50px;
    text-align: center;
    margin-left: 700px;
    border-radius:10px;
}

.delete_btn{
    display: inline-block;
    margin-left: 50px;
    height:50px;
    width: 150px;
    border-radius: 20px;
    border-width: thick;
    border-color: black;
    background-color: rgb(245, 119, 119);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
 }

 .edit_btn{
    display: inline-block;
    margin-left: 80px;
    height:50px;
    width: 150px;
    border-radius: 20px;
    border-width: thick;
    border-color: black;
    background-color: rgb(228, 228, 119);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
 }

 .box{
    display:inline-block;
    margin-right:10px;
 }